$primary-orange: #EC6608;

$button-tic-tac-right: 20px 3px 20px 3px !important;
$button-tic-tac-left: 3px 20px 3px 20px !important;

$text-color: #70624F;
$link-color: $text-color;
//$link-bg: #ce6fb3;

$html-font-size: 18; //px (valeur étalon)
$font-family-base: Poppins, Montserrat;

$content-width: 720px;
$content-width-fluid: 70%;
$fixed-width: true;

$nb-list-item: 6;

$breakpoint-sm: 768px;
$breakpoint-md:1025px;

