$primary-orange: #EC6608;

$tic-tac-droite: 20px 0 20px 0 !important;

$text-color: #70624F;
$link-color: $text-color;
//$link-bg: #ce6fb3;

$html-font-size: 18; //px (valeur étalon)
$font-family-base: Poppins, Montserrat;

$content-width: 720px;
$content-width-fluid: 70%;
$fixed-width: true;

$nb-list-item: 6;

$breakpoint-sm: 768px;
$breakpoint-md:1025px;

