$primary-orange: #EC6608;
$primary-beige: #FFECDE;
$primary-brown: #483F32;
$primary-beige-rgba: rgba(255, 236, 222, 0.80);
$primary-orange-rgba: rgba(236, 102, 8, 0.80);

$button-tic-tac-right: 20px 3px 20px 3px !important;
$button-tic-tac-left: 3px 20px 3px 20px !important;

$box-tic-tac-right: 30px 3px 30px 3px !important;
$box-tic-tac-left: 3px 30px 3px 30px !important;

$margin-border: 20;

$text-color: $primary-brown;
$link-color: $text-color;
//$link-bg: #ce6fb3;

$html-font-size: 14; //px (valeur étalon)
$font-family-base: Poppins, Montserrat;

$content-width: 720px;
$content-width-fluid: 70%;
$fixed-width: true;

$nb-list-item: 6;

$breakpoint-sm: 768px;
$breakpoint-md: 1025px;

